@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,800,800i");
@media (max-width: 991px) {
  h1.responsive-heading {
    font-size: 2rem; } }

@media (max-width: 991px) {
  h2.responsive-heading {
    font-size: 1.5rem; } }

@media (max-width: 991px) {
  h3.responsive-heading {
    font-size: 1.25rem; } }

@media (max-width: 991px) {
  h4.responsive-heading {
    font-size: 1.1rem; } }

@media (max-width: 991px) {
  h5.responsive-heading {
    font-size: 1rem; } }

@media (max-width: 991px) {
  h6.responsive-heading {
    font-size: .9rem; } }

/*


*/
/*==========================    START GLOBAL RULES  ==========================*/
/*Start Google Map*/
/*End Google Map*/
.sc-holder .sc-title {
  display: inline-block;
  margin-right: 20px; }
  .sc-holder .sc-title i.fa {
    margin-right: 5px; }
.sc-holder .sc-list {
  padding: 0;
  margin: 0;
  display: inline-block; }
  .sc-holder .sc-list .sc-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px; }
    .sc-holder .sc-list .sc-item:last-of-type {
      margin-right: 0; }
  .sc-holder .sc-list .sc-icon {
    text-align: center;
    border-radius: 50%;
    transition: all .3s ease-in-out; }
.sc-holder .sc-size-40 .sc-icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px; }
.sc-holder .sc-size-32 .sc-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px; }
.sc-holder .sc-size-24 .sc-icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 12px; }

.butn {
  position: relative;
  display: inline-block;
  outline: none !important;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  min-width: 150px;
  padding: .75rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 0;
  overflow: hidden; }
  .butn:hover {
    transform: translateY(-1px); }
    .butn:hover:before {
      left: 150%; }
    .butn:hover:after {
      right: 150%; }
  .butn:before, .butn:after {
    content: '';
    position: absolute;
    border-radius: .25rem;
    top: 0;
    bottom: 0;
    width: 20%;
    transition: all .8s ease-in-out;
    opacity: .5;
    z-index: -1; }
  .butn:before {
    left: -100%; }
  .butn:after {
    right: -100%; }
  @media (max-width: 991px) {
    .butn {
      font-size: .8rem;
      min-width: 120px;
      padding: .75rem; } }

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.paragraph {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  line-height: 1.8;
  letter-spacing: .6px;
  font-weight: 500; }

.super-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic; }

.img-frame {
  border-radius: 10px;
  padding: 5px; }

.enabeld-element {
  opacity: 1;
  pointer-events: auto; }

.disabled-element {
  opacity: .2;
  pointer-events: none; }

.title-center-border:after,
.title-left-border:after,
.title-right-border:after {
  content: '';
  border-bottom: 4px solid;
  border-radius: 5px;
  width: 65px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: block; }

.title-left-border:after {
  margin-right: auto; }

.title-right-border:after {
  margin-left: auto; }

.title-center-border:after {
  margin-left: auto;
  margin-right: auto; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

@media screen and (max-width: 991px) {
  .no-scroll {
    overflow: hidden; } }

body {
  position: relative; }

section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    section {
      padding-top: 60px;
      padding-bottom: 60px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", "sans-serif";
  letter-spacing: .4px;
  font-weight: 600; }

a {
  text-decoration: none !important;
  font-family: "Montserrat", "sans-serif"; }

/*==========================  END GLOBAL RULES  ==========================*/
/* ==========================     START NAVBAR    ========================== */
.navbar {
  transition: all .3s ease-in-out;
  max-height: 90px; }
  .navbar .navbar-brand {
    font-weight: 700;
    font-family: "Exo", "sans-serif";
    font-size: 1.5rem;
    transition: all .3s ease-in-out; }
    .navbar .navbar-brand span {
      font-weight: 400;
      font-size: 1rem; }
  .navbar .menu-opend-btn {
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    .navbar .menu-opend-btn i {
      display: block;
      width: 30px;
      height: 1px;
      border-radius: 1px;
      transition: all .3s ease-in-out; }
      .navbar .menu-opend-btn i:nth-child(2) {
        transform: translate(-5px); }
  .navbar .menu-closed-btn i:first-child {
    transform: rotate(225deg) translateY(-8px); }
  .navbar .menu-closed-btn i:nth-child(2) {
    display: none; }
  .navbar .menu-closed-btn i:last-child {
    transform: rotate(-45deg) translateY(-8px); }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
    font-family: "Exo", "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    width: 100%; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i.fa {
      margin-right: 10px; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 7px;
      border-bottom: 3px solid;
      border-radius: 5px;
      width: 100%;
      transform: scale(0);
      transition: all .5s ease-in-out; }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active:after {
    transform: scale(1); }
  @media (max-width: 991px) {
    .navbar .mobile-navbar-show {
      left: 0 !important; }
      .navbar .mobile-navbar-show .navbar-mobile-menu {
        min-width: 75% !important;
        left: 0 !important; }
    .navbar .navbar-mobile-menu-wrapper {
      position: fixed;
      left: -100vw;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      cursor: url(../../assets/Images/Close-Icon.png), auto;
      transition: all .6s ease-in-out; }
      .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu {
        margin: 0 !important;
        overflow: auto;
        position: absolute;
        min-width: 100%;
        left: -100vw;
        top: 0;
        height: 100%;
        transition: all .6s ease-in-out;
        cursor: pointer; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item {
          transition: all .3s ease-in-out;
          margin-right: 0 !important;
          width: 100%; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item:hover .nav-link::after {
            width: 0 !important; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item .nav-link {
            padding: 1rem;
            font-family: "Montserrat", "sans-serif";
            transition: all .3s ease-in-out; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
          transition: color .3s ease-in-out; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active::after {
            display: none !important; } }

/*==========================  END NAVBAR   ==========================*/
.about-us-header {
  position: relative;
  min-height: 60vh;
  background: url("../../assets/Images/about-us/about-us-header.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0; }
  .about-us-header .header-content {
    position: relative;
    z-index: 3; }
  .about-us-header .bread {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 3; }

.bread-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  z-index: 3; }

.bread-left {
  position: absolute;
  left: 0;
  transform: none;
  bottom: 20px;
  z-index: 3; }

.bread-right {
  position: absolute;
  right: 0;
  transform: none;
  bottom: 20px;
  z-index: 3; }

/*========================== START FEATURES SECTION  ==========================*/
.features {
  overflow: hidden; }
  .features .features-section-title {
    margin-bottom: 3rem; }
  .features .feature-card {
    transition: all .3s ease-in-out;
    margin-bottom: 2rem; }
    .features .feature-card .feature-content {
      transition: all .3s ease-in-out;
      max-width: 400px;
      margin: 0 auto; }
      .features .feature-card .feature-content .fa {
        font-size: 3rem; }
      .features .feature-card .feature-content .feat-title {
        margin-bottom: 1.5rem;
        margin-top: .75rem;
        font-size: 1.25rem; }
        @media screen and (max-width: 576px) {
          .features .feature-card .feature-content .feat-title {
            margin-bottom: .5rem;
            margin-top: .5rem; } }

/*==========================  End FEATURES SECTION  ==========================*/
.our-video {
  position: relative;
  z-index: 0;
  height: 50vh;
  background: url("../../assets/Images/video/video-bg.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .our-video .our-video-content {
    position: relative;
    z-index: 3; }
  .our-video .video-section-title {
    margin-bottom: 3rem; }
  .our-video .play-butn {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 4px solid;
    transition: all .3s ease-in-out;
    position: relative; }
    .our-video .play-butn i.fa {
      font-size: 2rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }

.our-team .tm-member-card {
  position: relative;
  margin: 0 0 2rem;
  text-align: center;
  transition: transform .3s ease-in-out; }
  .our-team .tm-member-card .tm-img {
    margin-bottom: 1rem; }
  .our-team .tm-member-card .tm-details .tm-name {
    margin-bottom: .25rem;
    letter-spacing: 1px; }
  .our-team .tm-member-card .tm-details .tm-role {
    display: block;
    font-family: "Montserrat", "sans-serif";
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .5rem; }
  .our-team .tm-member-card .sc-holder {
    padding: 0; }
@media screen and (max-width: 991px) {
  .our-team .tm-member-card {
    margin: 0 1rem 2rem;
    text-align: center; }
    .our-team .tm-member-card .tm-img {
      margin-bottom: 1rem; } }

.our-clients .clients-logo-wraper {
  margin-bottom: 2rem; }
.our-clients .client-logo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 3px solid;
  border-radius: .5rem;
  margin-bottom: 1rem;
  margin-top: 1rem; }
  @media screen and (max-width: 991px) {
    .our-clients .client-logo {
      padding-top: .5rem;
      padding-bottom: .5rem;
      margin-bottom: .5rem;
      margin-top: .5rem; } }

.faq-accordion .card {
  border: none;
  border-radius: 0; }
.faq-accordion .card-header {
  padding: 0;
  position: relative;
  border: 1px solid; }
  .faq-accordion .card-header .btn-link {
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;
    white-space: normal; }
    .faq-accordion .card-header .btn-link::after {
      content: "\f106";
      font-family: fontawesome;
      font-size: inherit;
      font-weight: bold;
      line-height: 1.1;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 10px;
      right: 10px;
      left: auto; }
    .faq-accordion .card-header .btn-link.collapsed::after {
      content: '\f107'; }
.faq-accordion .card-body {
  border: 1px solid; }

/*==========================  START page-footer   ==========================*/
.page-footer {
  /* Start Footer Social Icons */
  /*========================== start Newsletter section  ==========================*/
  /*========================== End Newsletter section  ==========================*/ }
  .page-footer .map {
    min-height: 360px; }
  .page-footer a,
  .page-footer address {
    font-family: "Montserrat", "sans-serif"; }
  .page-footer .adress-info ul li {
    margin-bottom: 1rem;
    font-size: .85rem; }
    .page-footer .adress-info ul li a {
      text-decoration: none;
      transition: all .3s ease-in; }
    .page-footer .adress-info ul li i {
      padding-right: 1rem; }
  .page-footer .footer-social-icons {
    margin-top: 20px;
    /* End Footer Social Icons */ }
    .page-footer .footer-social-icons a {
      text-decoration: none;
      margin-right: 10px; }
      .page-footer .footer-social-icons a:last-of-type {
        margin-right: 0; }
      .page-footer .footer-social-icons a i.fa {
        transition: color .3s ease-in-out; }
  .page-footer .newsletter-form .newsletter-email {
    position: relative; }
    .page-footer .newsletter-form .newsletter-email input[type=email] {
      padding: 6px;
      font-size: 1rem;
      outline: none;
      width: 100%;
      font-size: 1rem;
      border: 1px solid;
      border-radius: .25rem;
      transition: all .3s ease-in-out; }
    .page-footer .newsletter-form .newsletter-email .submit-btun {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      right: 10px;
      cursor: pointer;
      border: none;
      outline: none !important;
      padding: 5px; }
  .page-footer .copyrights {
    padding: 1rem;
    border-top: 1px solid; }

/*==========================  END page-footer   ==========================*/
/*==========================  16- START OPTION BOX ASIDE  ==========================*/
.option-box .options-wraper {
  position: fixed;
  left: -300px;
  width: 300px;
  top: 25vh;
  transform: translateY(-25%);
  border: 1px solid;
  border-left: none;
  z-index: 999;
  transition: left .3s ease-in-out; }
  @media (max-width: 991px) {
    .option-box .options-wraper {
      left: -200px;
      width: 200px;
      top: 81px; } }
  .option-box .options-wraper .box-handel {
    font-size: 1rem;
    font-weight: lighter;
    position: absolute;
    top: 90px;
    left: calc(300px - 1px);
    width: 30px;
    height: 30px;
    line-height: 26px;
    border: 1px solid;
    border-left: none;
    text-align: center;
    cursor: pointer; }
    @media (max-width: 991px) {
      .option-box .options-wraper .box-handel {
        left: calc( 200px - 1px); } }
  .option-box .options-wraper .color-options {
    padding: 50px 20px; }
    .option-box .options-wraper .color-options ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .option-box .options-wraper .color-options ul li {
        width: 40px;
        height: 40px; }
        .option-box .options-wraper .color-options ul li span {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer; }

.show-options-box {
  left: 0 !important; }

/*==========================  END OPTION BOX ASIDE  ==========================*/
/*==========================  15- START BACK TO TOP BUTTON ==========================*/
.back-to-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
  z-index: 20; }
  .back-to-top i.fa {
    font-size: 1.5rem; }

/*==========================  END BACK TO TOP BUTTON ==========================*/
/*==========================   START lOADING SCREEN DIV  ==========================*/
.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }
  .loading-screen .spinner {
    margin: 50vh auto 0;
    text-align: center; }
  .loading-screen .spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .loading-screen .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading-screen .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*==========================  END lOADING SCREEN DIV  ==========================*/

/*# sourceMappingURL=about-us-layout.css.map */
