@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Exo:400,400i,500,500i,600,600i,800,800i");
@media (max-width: 991px) {
  h1.responsive-heading {
    font-size: 2rem; } }

@media (max-width: 991px) {
  h2.responsive-heading {
    font-size: 1.5rem; } }

@media (max-width: 991px) {
  h3.responsive-heading {
    font-size: 1.25rem; } }

@media (max-width: 991px) {
  h4.responsive-heading {
    font-size: 1.1rem; } }

@media (max-width: 991px) {
  h5.responsive-heading {
    font-size: 1rem; } }

@media (max-width: 991px) {
  h6.responsive-heading {
    font-size: .9rem; } }

/*


*/
body {
  height: 1000px; }

/*==========================    START GLOBAL RULES  ==========================*/
.butn {
  position: relative;
  display: inline-block;
  outline: none !important;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  min-width: 150px;
  padding: .75rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 0;
  overflow: hidden; }
  .butn:hover {
    transform: translateY(-1px); }
    .butn:hover:before {
      left: 150%; }
    .butn:hover:after {
      right: 150%; }
  .butn:before, .butn:after {
    content: '';
    position: absolute;
    border-radius: .25rem;
    top: 0;
    bottom: 0;
    width: 20%;
    transition: all .8s ease-in-out;
    opacity: .5;
    z-index: -1; }
  .butn:before {
    left: -100%; }
  .butn:after {
    right: -100%; }
  @media (max-width: 991px) {
    .butn {
      font-size: .8rem;
      min-width: auto;
      padding: .75rem; } }

.paragraph {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  line-height: 1.8;
  letter-spacing: .6px;
  font-weight: 400; }

.super-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic; }

.img-frame {
  border-radius: 10px;
  padding: 5px; }

.enabeld-element {
  opacity: 1;
  pointer-events: auto; }

.disabled-element {
  opacity: .2;
  pointer-events: none; }

.title-center-border:after,
.title-left-border:after,
.title-right-border:after {
  content: '';
  border-bottom: 4px solid;
  border-radius: 5px;
  width: 65px;
  margin-top: .5rem;
  margin-bottom: 1rem;
  display: block; }

.title-left-border:after {
  margin-right: auto; }

.title-right-border:after {
  margin-left: auto; }

.title-center-border:after {
  margin-left: auto;
  margin-right: auto; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

@media screen and (max-width: 991px) {
  .no-scroll {
    overflow: hidden; } }

body {
  position: relative; }

section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    section {
      padding-top: 60px;
      padding-bottom: 60px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", "sans-serif";
  letter-spacing: .4px;
  font-weight: 600; }

a {
  text-decoration: none !important;
  font-family: "Montserrat", "sans-serif"; }

/*==========================  END GLOBAL RULES  ==========================*/
/* Start Global Varibals*/
/*****************************************************************
*
* Project Name:Robo Theme.
* description: a Multi-purpose one-page theme for createve, corporates and business uses;
* version: 1.0  
*               
<=======>  CSS RULES MAP <=======>

1- Start Global Varibals
2- color group
2- Background color group
3- borders group
4- box-shadow group
*****************************************************************/
/* 1- Start Global Varibals*/
/* End Global Varibals*/
/*======================== 2- color group ========================*/
.pricing .plan-details li,
.post-card .post-title-link,
.text-dark-color,
.side-bar .category .cat-link,
.side-bar .recent-post .post-heading-link,
.side-bar .archive .arch-link,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343a40; }

.article-section .breadcrumb-nav .breadcrumb .breadcrumb-item > a,
.our-team .tm-social-icons a:hover i.fa,
.our-team .tm-role,
.super-paragraph,
.about-us .tab-content .faq-accordion .card-header .btn-link,
.about-us .tab-head,
.features .feature-content .fa,
.gallery .filter-btn-list .filter-btn,
.gallery .filter-group .hidden-info a.info-link:hover,
.goals .goal-icon i,
.navbar .navbar-brand span,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-toggler,
.newsletter-form .newsletter-email .submit-btun,
.option-box .box-handel,
.page-footer .adress-info ul li a:hover,
.page-footer .useful-links ul li a:hover,
.testmonials .customer-testmonial i.fa-quote-left,
.testmonials .swiper-container .swiper-button-next i,
.testmonials .swiper-container .swiper-button-prev i,
.testmonials .testmonial-content .customer-details .customer-role,
.useful-links ul li a:before,
.home-page-header .desc span,
.post-card i.fa-tags,
.home-page-header .desc span,
.post-card .post-title-link:hover,
.article-info-bar .publish-date,
.pages-nav .the-page-item:hover,
.side-bar .category .cat-link:hover,
.side-bar .recent-post .post-heading-link:hover,
.side-bar .archive .arch-link:hover,
.count-badge,
.article-info-bar .auther-info .auther-name,
.article-info-bar .auther-info .auther-contact-info > li > a:hover,
.comments-area .engagment-bar i.fa,
.comments-area .commenter-name > a,
.comments-area .engagment-bar .reply-action:hover,
.box-heading i.fa {
  color: #ff5100; }

.our-team .tm-social-icons a i.fa,
footer .footer-social-icons a:hover i.fa,
.side-bar .search-box i.fa {
  color: rgba(255, 81, 0, 0.7); }

.share-to-list .share-to-link:hover,
.blog-header .blog-heading-content .blog-heading,
.about-us .tab-head.active,
.about-us .tab-head:hover,
.butn,
.butn:focus,
.butn:hover,
.butn:visited,
.custom-link,
.custom-link:hover,
.features .feature-content:hover span.icon,
.gallery .filter-group .hidden-info > span,
.gallery .filter-group .hidden-info > a,
.img-desc,
.img-heading,
.navbar .navbar-brand,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link,
.page-footer .adress-info,
.page-footer .adress-info ul li a,
.page-footer .useful-links ul li a,
.home-page-header .desc a.butn,
.pricing .plan .plan-cost,
.pricing .plan-cost h4,
.pricing .plan-details ul,
.pricing .plan-highlight,
.title-center-border .active,
.back-to-top,
footer .copyrights,
.page-footer .footer-social-icons i.fa,
.all-posts .pages-nav .the-page-link,
.all-posts .post-card .post-content .read-more i.fa,
.tags-list .tag-lable,
.post-card .post-engagement .views,
.post-card .post-engagement .likes,
.post-card .post-engagement .comments,
.side-bar .search-box i.fa {
  color: #FFF; }

.option-box .color-options .color-options-title,
.text-extra-light-color,
.home-page-header .header-wraper p.paragraph {
  color: #f5f5f5; }

.share-to-list .share-to-link,
.article-section .breadcrumb-nav .breadcrumb .breadcrumb-item > .active,
.article-info-bar .auther-info .auther-contact-info > li > a,
.comments-area .comment-time,
.comments-area .engagment-bar .reply-action,
.comments-area .is-comment .likes-count,
.comments-area .is-reply .likes-count {
  color: #a1a1a1; }

/*==================== 2- Background color group=================*/
.pricing .plan .plan-cost,
.post-card .post-engagement,
.tags-list .tag-lable,
nav {
  background-color: #343a40; }

@media (max-width: 991px) {
  .navbar-mobile-menu-wrapper .navbar-mobile-menu {
    background-color: #343a40; } }
.gallery .filter-group .gallery-item:hover a.pic-link:after,
.post-card:hover .post-img::after,
.navbar .navbar-mobile-menu-wrapper.mobile-navbar-show {
  background-color: rgba(0, 0, 0, 0.5); }

.share-to-list .share-to-link:hover,
.tags-list .tag-lable:hover,
.about-us .tab-head.active,
.about-us .tab-head:hover,
.butn,
.loading-screen .spinner > div,
.features .feature-content:hover span.icon,
.option-box .color-options li span,
.pricing .plan-highlight,
.post-card .post-content .read-more,
.pages-nav .the-page-item:hover,
.pages-nav .the-page-item.active,
.back-to-top,
.side-bar .search-box .search-submit {
  background-color: #ff5100; }

.about-us .tab-content .faq-accordion .card-header .btn-link.active,
.goals .goal-img:before,
.goals .goal-img:after {
  background-color: rgba(255, 81, 0, 0.5); }

.navbar .menu-opend-btn i,
.loading-screen,
.features .feature-content,
.pricing .plan,
section,
.butn:before,
.butn:after {
  background-color: #FFF; }

.footer-social-icons,
.option-box,
.option-box .box-handel,
.option-box .options-wraper,
.pages-nav .the-page-item,
.page-footer {
  background-color: #343a40; }

@media (max-width: 991px) {
  .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
    color: #FFF !important; }

  .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
    background-color: rgba(255, 81, 0, 0.8); }

  .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-link:hover {
    background-color: rgba(255, 81, 0, 0.5) !important;
    color: #FFF !important; } }
.option-box .options-wraper .color-options ul li .orange-theme {
  background-color: #ff5100; }
.option-box .options-wraper .color-options ul li .blue-theme {
  background-color: #01ceff; }
.option-box .options-wraper .color-options ul li .yellow-theme {
  background-color: #ff9700; }
.option-box .options-wraper .color-options ul li .green-theme {
  background-color: #00af58; }
.option-box .options-wraper .color-options ul li .pink-theme {
  background-color: #da00ff; }

.article-section .breadcrumb-nav,
.article-section .breadcrumb-nav .breadcrumb,
.comments-area .leave-comment .user-comment,
.about-us .tab-content .faq-accordion .card-header,
.about-us .tab-content .faq-accordion .card-header .btn-link,
.about-us .tab-content .user-message-form input[type=email],
.about-us .tab-content .user-message-form input[type=text],
.about-us .tab-content .user-message-form textarea,
.gallery .filter-btn-list .filter-btn,
.img-frame,
.info-tab .tab-head,
.newsletter-form .newsletter-email .submit-btun,
.page-footer input[type=email] {
  background-color: transparent; }

/*=================== 3- borders group ==================*/
.pricing .plan .plan-cost .plan-highlight:after {
  border-color: transparent transparent transparent #ff5100; }

.gallery .filter-btn-list .filter-btn {
  border-color: transparent; }

.tags-list .tag-lable,
.about-us .tab-head.active,
.about-us .tab-head:hover {
  border-color: #343a40; }

.comments-area .leave-comment .user-comment:focus,
.comments-area .comment-body,
.about-us .tab-content .faq-accordion .card-body,
.about-us .tab-content .faq-accordion .card-header,
.about-us .tab-content .user-message-form input[type=email]:focus,
.about-us .tab-content .user-message-form input[type=text]:focus,
.about-us .tab-content .user-message-form textarea:focus,
.about-us .tab-head,
.active:after,
.box-handel,
.butn,
.gallery .filter-btn-list,
.gallery .filter-btn-list .filter-btn.active,
.gallery .filter-btn-list .filter-btn:hover,
.goals .goal-icon i,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link:after,
.option-box .options-wraper,
.pricing .plan .plan-cost,
.testmonials .customer-info .customer-details,
.title-center-border:after,
.title-left-border:after,
.all-posts .post-card .post-engagement .engagement:nth-child(2),
.side-bar .search-box .search-input,
.side-bar .search-box .search-submit,
.side-bar .box,
.share-box,
.article .article-body,
.comments-area .comment-text {
  border-color: #ff5100; }

.comments-area .leave-comment .user-comment,
.about-us .tab-content .user-message-form input[type=email],
.about-us .tab-content .user-message-form input[type=text],
.about-us .tab-content .user-message-form textarea,
.news-letter input[type=email],
.page-footer .copyrights,
.page-footer .newsletter-form .newsletter-email input[type=email] {
  border-color: rgba(255, 81, 0, 0.5); }

.pricing .plan .plan-cost h3 {
  border-color: #FFF; }

.pricing .plan .plan-details ul li,
.testmonials .customer-info,
.side-bar .category,
.side-bar .archive {
  border-color: #d6d6d6; }

/*=================== 4- box-shadow group====================*/
.comments-area .comment-body,
.post-card,
.post-body,
.side-bar .box,
.article-section .article,
.article-section .article-hero,
.share-box .share-to-link,
.comments-area .comment-input {
  box-shadow: 0 3px 15px rgba(52, 58, 64, 0.2); }

.about-us .tab-content .faq-accordion .card,
.img-frame,
.pricing .plan,
.testmonials .testmonial-content,
.home-page-header {
  box-shadow: 0 0 10px 1px #a1a1a1; }

.butn,
.back-to-top,
.pages-nav .the-page-item,
.post-card .read-more {
  box-shadow: 0 5px 15px -5px #343a40; }

.butn:hover,
.pages-nav .the-page-item:hover,
.post-card .read-more:hover {
  box-shadow: 0 8px 25px -5px #343a40; }

a::selection,
div::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
i::selection,
li::selection,
p::selection,
span::selection {
  color: #FFF;
  background: rgba(255, 81, 0, 0.7); }
a::-moz-selection,
div::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
i::-moz-selection,
li::-moz-selection,
p::-moz-selection,
span::-moz-selection {
  color: #FFF;
  background: rgba(255, 81, 0, 0.7); }

.navbar .navbar-toggler {
  outline-color: #ff5100; }

.overlay {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); }

/* ==========================     START NAVBAR    ========================== */
.navbar {
  transition: all .3s ease-in-out;
  max-height: 90px; }
  .navbar .navbar-brand {
    font-weight: 700;
    font-family: "Exo", "sans-serif";
    font-size: 1.5rem;
    transition: all .3s ease-in-out; }
    .navbar .navbar-brand span {
      font-weight: 400;
      font-size: 1rem; }
  .navbar .menu-opend-btn {
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    .navbar .menu-opend-btn i {
      display: block;
      width: 30px;
      height: 1px;
      border-radius: 1px;
      transition: all .3s ease-in-out; }
      .navbar .menu-opend-btn i:nth-child(2) {
        transform: translate(-5px); }
  .navbar .menu-closed-btn i:first-child {
    transform: rotate(225deg) translateY(-8px); }
  .navbar .menu-closed-btn i:nth-child(2) {
    display: none; }
  .navbar .menu-closed-btn i:last-child {
    transform: rotate(-45deg) translateY(-8px); }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
    font-family: "Exo", "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    width: 100%; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i.fa {
      margin-right: 10px; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 7px;
      border-bottom: 3px solid;
      border-radius: 5px;
      width: 100%;
      transform: scale(0);
      transition: all .5s ease-in-out; }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active:after {
    transform: scale(1); }
  @media (max-width: 991px) {
    .navbar .mobile-navbar-show {
      left: 0 !important; }
      .navbar .mobile-navbar-show .navbar-mobile-menu {
        min-width: 75% !important;
        left: 0 !important; }
    .navbar .navbar-mobile-menu-wrapper {
      position: fixed;
      left: -100vw;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      cursor: url(../../assets/Images/Close-Icon.png), auto;
      transition: all .6s ease-in-out; }
      .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu {
        margin: 0 !important;
        overflow: auto;
        position: absolute;
        min-width: 100%;
        left: -100vw;
        top: 0;
        height: 100%;
        transition: all .6s ease-in-out;
        cursor: pointer; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item {
          transition: all .3s ease-in-out;
          margin-right: 0 !important;
          width: 100%; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item:hover .nav-link::after {
            width: 0 !important; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item .nav-link {
            padding: 1rem;
            font-family: "Montserrat", "sans-serif";
            transition: all .3s ease-in-out; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
          transition: color .3s ease-in-out; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active::after {
            display: none !important; } }

/*==========================  END NAVBAR   ==========================*/
.blog-header {
  position: relative;
  height: 50vh;
  background: url("../../../../assets/Images/blog-header/blog-header.jpg");
  background-size: cover;
  background-position: 50% 30%;
  z-index: 0; }
  .blog-header .blog-heading-content {
    position: relative;
    z-index: 3; }
    .blog-header .blog-heading-content .blog-heading {
      font-size: 2rem;
      font-weight: 700; }

.article-info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  font-size: .75rem; }
  .article-info-bar .auther-info {
    display: flex;
    align-items: center; }
    .article-info-bar .auther-info .auther-img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 5px; }
      .article-info-bar .auther-info .auther-img img {
        width: 40px;
        height: 40px; }
    .article-info-bar .auther-info .auther-name {
      margin-right: 5px;
      font-weight: 600; }
    .article-info-bar .auther-info .auther-contact-info {
      margin: 0;
      padding: 0;
      margin-right: 15px; }
      .article-info-bar .auther-info .auther-contact-info > li {
        display: inline-block;
        margin-right: 5px;
        cursor: pointer; }
  .article-info-bar .publish-date {
    margin-left: 45px; }

ul.tags-list li {
  display: inline-block;
  margin-right: .25rem;
  margin-bottom: .25rem; }
ul.tags-list .tag-lable {
  display: inline-block;
  padding: .125rem .5rem;
  font-family: "Montserrat", "sans-serif";
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .25px;
  border-radius: .25rem;
  transition: all .3s ease-in-out; }
  ul.tags-list .tag-lable::before {
    content: '#';
    display: block;
    float: left;
    margin-right: 1px; }

.all-posts .post-main-area {
  padding-bottom: 2.5rem; }
.all-posts .post-card {
  transition: all .3s ease-in-out;
  overflow: hidden;
  margin-bottom: 30px; }
  .all-posts .post-card .post-img {
    position: relative;
    overflow: hidden;
    transition: all .5s ease-in-out; }
    .all-posts .post-card .post-img::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background-color .5s ease-in-out; }
    .all-posts .post-card .post-img img {
      transition: transform .5s ease-out;
      max-height: 360px;
      width: 100%; }
  .all-posts .post-card .post-content {
    position: relative; }
    .all-posts .post-card .post-content .read-more {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 44px;
      position: absolute;
      bottom: 20px;
      right: 50px;
      text-align: center;
      visibility: hidden;
      opacity: 0;
      cursor: pointer;
      transition: all .3s ease-out; }
      .all-posts .post-card .post-content .read-more a {
        display: block;
        width: 40px;
        height: 40px; }
      .all-posts .post-card .post-content .read-more i.fa {
        font-size: 1.5rem; }
      .all-posts .post-card .post-content .read-more:hover {
        transform: translateY(-3px); }
  .all-posts .post-card i.fa-tags {
    font-size: 1.5rem;
    margin-right: .25rem; }
  .all-posts .post-card .post-title {
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: "Exo", "sans-serif";
    font-weight: 600; }
  .all-posts .post-card .post-title-link {
    font-family: "Exo", "sans-serif";
    font-size: 1.25rem;
    transition: color .3s ease-in-out; }
  .all-posts .post-card .post-engagement {
    padding: .75rem 0; }
    .all-posts .post-card .post-engagement .engagement:nth-child(2) {
      border-left: 2px solid;
      border-right: 2px solid; }
  .all-posts .post-card:hover .read-more {
    right: 20px;
    visibility: visible;
    opacity: 1; }
.all-posts .pages-nav .the-page-item {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: .85rem;
  overflow: hidden;
  transition: all .3s ease-in-out;
  margin-right: 2px;
  margin-left: 2px; }
.all-posts .pages-nav .prev,
.all-posts .pages-nav .next {
  min-width: 100px;
  border-radius: 30px;
  margin: 0 10px; }
.all-posts .pages-nav .the-page-link {
  display: inline-block;
  width: 100%; }
@media (max-width: 991px) {
  .all-posts .pages-nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between; } }
@media (max-width: 360px) {
  .all-posts .pages-nav .prev,
  .all-posts .pages-nav .next {
    display: none; } }

.article-section .article {
  margin-bottom: 2rem; }
.article-section .article-header {
  padding: 2rem; }
.article-section .article-title {
  font-size: 1.5rem; }
.article-section .breadcrumb-nav .breadcrumb {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem; }
  .article-section .breadcrumb-nav .breadcrumb .breadcrumb-item {
    font-size: .75rem; }
.article-section .article-body {
  padding: 0 2rem 2rem 2rem;
  font-size: 1.15rem;
  border-bottom: 1px solid; }
@media screen and (max-width: 991px) {
  .article-section .article-title {
    font-size: 1.25rem; }
  .article-section .article-body {
    padding: 0 1rem 1rem 1rem;
    font-size: .9rem; } }

.share-box {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: .25rem; }
  .share-box .share-to-bar {
    padding: 1rem 0; }
  .share-box .share-to-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto; }
    .share-box .share-to-list .share-to-title {
      font-size: 1rem;
      font-family: "Exo", "sans-serif"; }
      .share-box .share-to-list .share-to-title i.fa {
        margin-right: 5px; }
    .share-box .share-to-list .share-to-link {
      font-size: 1rem;
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      transition: all .3s ease-in-out; }
  @media screen and (max-width: 991px) {
    .share-box .share-to-list {
      width: 100%; }
      .share-box .share-to-list .share-to-title {
        font-size: .85rem;
        font-family: "Exo", "sans-serif"; } }

.comments-area .leave-comment {
  margin-bottom: 2rem; }
  .comments-area .leave-comment .user-comment {
    display: block;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: .25rem;
    margin-bottom: .5rem;
    transition: border-color .3s ease-in-out;
    font-size: .85rem;
    font-family: "Montserrat", "sans-serif";
    min-height: 6rem; }
  .comments-area .leave-comment .publish-butn i.fa {
    margin-right: .5rem; }
.comments-area .is-comment,
.comments-area .is-reply {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.25rem; }
.comments-area .is-reply {
  margin-left: 2rem; }
.comments-area .commenter-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  margin-right: .5rem; }
.comments-area .comment-body {
  padding: 1rem;
  border-radius: .25rem; }
.comments-area .commenter-name {
  margin: 0; }
  .comments-area .commenter-name > a {
    font-size: .85rem; }
.comments-area .comment-time {
  font-size: .75rem; }
.comments-area .comment-text {
  font-size: .85rem;
  margin-top: 1rem;
  padding-left: .5rem;
  border-left: 3px solid; }
.comments-area .engagment-bar i.fa {
  font-size: 1rem;
  cursor: pointer; }
.comments-area .engagment-bar .reply-action {
  margin-left: 20px;
  cursor: pointer;
  transition: color .3s ease-in-out; }

.side-bar .box {
  margin-bottom: 2rem;
  border-radius: .25rem;
  border-bottom: 1px solid; }
.side-bar .box-heading i.fa {
  float: right;
  clear: both;
  font-weight: 600;
  font-size: 1.25rem; }
.side-bar .search-box {
  border: none; }
  .side-bar .search-box .search-form {
    padding: 0;
    margin: 0;
    outline: none;
    position: relative; }
  .side-bar .search-box .search-input {
    width: 100%;
    outline: none;
    border: 2px solid;
    padding: 5px 40px 5px 10px;
    border-radius: .25rem;
    transition: border-color .3s ease-in-out; }
  .side-bar .search-box .search-submit {
    border: 2px solid;
    border-radius: 0 .25rem .25rem 0;
    outline: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 80px;
    cursor: pointer;
    z-index: 1; }
  .side-bar .search-box i.fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 1.25rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 2; }
.side-bar .category {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0;
  border-bottom: 1px solid; }
  .side-bar .category:last-of-type {
    border: none; }
  .side-bar .category .cat-link {
    transition: color .3s ease-in-out;
    font-size: .85rem;
    font-weight: 600; }
  .side-bar .category .count-badge {
    font-family: "Montserrat", "sans-serif";
    font-size: .85rem;
    font-weight: 600; }
.side-bar .recent-post {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 10px 0; }
  .side-bar .recent-post .post-info {
    padding-left: 10px; }
    .side-bar .recent-post .post-info .recent-post-heading {
      font-family: "Montserrat", "sans-serif";
      font-size: .8rem;
      font-weight: 600;
      margin: 0; }
    .side-bar .recent-post .post-info .post-heading-link {
      transition: color .3s ease-in-out; }
    .side-bar .recent-post .post-info i.fa,
    .side-bar .recent-post .post-info .publish-date {
      font-size: .7rem; }
.side-bar .archive {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px 0;
  border-bottom: 1px solid; }
  .side-bar .archive:last-of-type {
    border: none; }
  .side-bar .archive .arch-link {
    font-family: "Montserrat", "sans-serif";
    transition: color .3s ease-in-out;
    font-size: .85rem;
    font-weight: 600; }
  .side-bar .archive .count-badge {
    font-family: "Montserrat", "sans-serif";
    font-size: .85rem;
    font-weight: 600; }

/*==========================  START page-footer   ==========================*/
.page-footer {
  /*Start Google Map*/
  /*End Google Map*/
  /* Start Footer Social Icons */
  /*========================== start Newsletter section  ==========================*/
  /*========================== End Newsletter section  ==========================*/ }
  .page-footer a,
  .page-footer address {
    font-family: "Montserrat", "sans-serif"; }
  .page-footer .map {
    width: 100%;
    min-height: 230px;
    height: 100%; }
  .page-footer .adress-info ul li {
    margin-bottom: 1rem;
    font-size: .85rem; }
    .page-footer .adress-info ul li a {
      text-decoration: none;
      transition: all .3s ease-in; }
    .page-footer .adress-info ul li i {
      padding-right: 1rem; }
  .page-footer .footer-social-icons {
    margin-top: 20px;
    /* End Footer Social Icons */ }
    .page-footer .footer-social-icons a {
      text-decoration: none;
      margin-right: 10px; }
      .page-footer .footer-social-icons a:last-of-type {
        margin-right: 0; }
      .page-footer .footer-social-icons a i.fa {
        transition: color .3s ease-in-out; }
  .page-footer .newsletter-form .newsletter-email {
    position: relative; }
    .page-footer .newsletter-form .newsletter-email input[type=email] {
      padding: 6px;
      font-size: 1rem;
      outline: none;
      width: 100%;
      font-size: 1rem;
      border: 1px solid;
      border-radius: .25rem;
      transition: all .3s ease-in-out; }
    .page-footer .newsletter-form .newsletter-email .submit-btun {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      right: 10px;
      cursor: pointer;
      border: none;
      outline: none !important;
      padding: 5px; }
  .page-footer .copyrights {
    padding: 1rem;
    border-top: 1px solid; }

/*==========================  END page-footer   ==========================*/
/*==========================  16- START OPTION BOX ASIDE  ==========================*/
.option-box .options-wraper {
  position: fixed;
  left: -300px;
  width: 300px;
  top: 25vh;
  transform: translateY(-25%);
  border: 1px solid;
  border-left: none;
  z-index: 999;
  transition: left .3s ease-in-out; }
  @media (max-width: 991px) {
    .option-box .options-wraper {
      left: -200px;
      width: 200px;
      top: 81px; } }
  .option-box .options-wraper .box-handel {
    font-size: 1rem;
    font-weight: lighter;
    position: absolute;
    top: 90px;
    left: calc(300px - 1px);
    width: 30px;
    height: 30px;
    line-height: 26px;
    border: 1px solid;
    border-left: none;
    text-align: center;
    cursor: pointer; }
    @media (max-width: 991px) {
      .option-box .options-wraper .box-handel {
        left: calc( 200px - 1px); } }
  .option-box .options-wraper .color-options {
    padding: 50px 20px; }
    .option-box .options-wraper .color-options ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .option-box .options-wraper .color-options ul li {
        width: 40px;
        height: 40px; }
        .option-box .options-wraper .color-options ul li span {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer; }

.show-options-box {
  left: 0 !important; }

/*==========================  END OPTION BOX ASIDE  ==========================*/
/*==========================  15- START BACK TO TOP BUTTON ==========================*/
.back-to-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
  z-index: 20; }
  .back-to-top i.fa {
    font-size: 1.5rem; }

/*==========================  END BACK TO TOP BUTTON ==========================*/
/*==========================   START lOADING SCREEN DIV  ==========================*/
.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }
  .loading-screen .spinner {
    margin: 50vh auto 0;
    text-align: center; }
  .loading-screen .spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .loading-screen .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading-screen .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*==========================  END lOADING SCREEN DIV  ==========================*/

/*# sourceMappingURL=blog-home-page-layout.css.map */
