/*****************************************************************
*
* Project Name:Robo Theme.
* description: a Multi-purpose one-page theme for createve, corporates and business uses;
* version: 1.0  
*               
<=======>  CSS RULES MAP <=======>

1- Start Global Varibals
2- color group
2- Background color group
3- borders group
4- box-shadow group
*****************************************************************/
/* 1- Start Global Varibals*/
/* End Global Varibals*/
/*======================== 2- color group ========================*/
.pricing .plan-details li,
.text-dark-color,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #343a40; }

.super-paragraph,
.about-us .tab-content .faq-accordion .card-header .btn-link,
.about-us .tab-head,
.features .feature-content .fa,
.gallery .filter-btn-list .filter-btn,
.gallery .filter-group .hidden-info a.info-link:hover,
.goals .goal-icon i,
.navbar .navbar-brand span,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-toggler,
.newsletter-form .newsletter-email .submit-btun,
.option-box .box-handel,
.page-footer .adress-info ul li a:hover,
.page-footer .useful-links ul li a:hover,
.testmonials .customer-testmonial i.fa-quote-left,
.testmonials .swiper-container .swiper-button-next i,
.testmonials .swiper-container .swiper-button-prev i,
.testmonials .testmonial-content .customer-details .customer-role,
.useful-links ul li a:before,
header .desc span,
header .desc span {
  color: #7a19a7; }

.about-us .tab-head.active,
.about-us .tab-head:hover,
.butn,
.custom-link,
.custom-link:hover,
.features .feature-content:hover span.icon,
.gallery .filter-group .hidden-info,
.gallery .filter-group .hidden-info:hover,
.img-desc,
.img-heading,
.navbar .navbar-brand,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link,
.page-footer .adress-info,
.page-footer .adress-info ul li a,
.page-footer .useful-links ul li a,
.page-header .desc a.butn,
.pricing .plan .plan-cost,
.pricing .plan-cost h4,
.pricing .plan-details ul,
.pricing .plan-highlight,
.title-center-border .active,
.back-to-top,
a,
a:focus,
a:hover,
a:visited,
footer .copyrights {
  color: #FFF; }

.option-box .color-options .color-options-title,
.text-extra-light-color,
header .header-wraper p.paragraph {
  color: #f5f5f5; }

footer .footer-social-icons a:hover i.fa {
  color: rgba(122, 25, 167, 0.7); }

/*==================== 2- Background color group=================*/
.pricing .plan .plan-cost,
nav {
  background-color: #343a40; }

@media (max-width: 991px) {
  .navbar-mobile-menu-wrapper .navbar-mobile-menu {
    background-color: #343a40; } }
.gallery .filter-group .gallery-item:hover a.pic-link:after,
.navbar .navbar-mobile-menu-wrapper.mobile-navbar-show,
.overlay {
  background-color: rgba(0, 0, 0, 0.5); }

.about-us .tab-head.active,
.about-us .tab-head:hover,
.butn,
.loading-screen .spinner > div,
.features .feature-content:hover span.icon,
.option-box .color-options li span,
.pricing .plan-highlight,
.back-to-top {
  background-color: #7a19a7; }

.about-us .tab-content .faq-accordion .card-header .btn-link.active,
.goals .goal-img:before,
.goals .goal-img:after {
  background-color: rgba(122, 25, 167, 0.5); }

.loading-screen,
.features .feature-content,
.pricing .plan,
section,
.butn:before,
.butn:after {
  background-color: #FFF; }

.footer-social-icons,
.option-box,
.option-box .box-handel,
.option-box .options-wraper,
.page-footer {
  background-color: #343a40; }

@media (max-width: 991px) {
  .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
    color: #FFF !important; }

  .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
    background-color: rgba(122, 25, 167, 0.8); }

  .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-link:hover {
    background-color: rgba(122, 25, 167, 0.5) !important;
    color: #FFF !important; } }
.option-box .options-wraper .color-options ul li .orange-theme {
  background-color: #ff5100; }
.option-box .options-wraper .color-options ul li .blue-theme {
  background-color: #01ceff; }
.option-box .options-wraper .color-options ul li .yellow-theme {
  background-color: #ff9700; }
.option-box .options-wraper .color-options ul li .green-theme {
  background-color: #00af58; }
.option-box .options-wraper .color-options ul li .pink-theme {
  background-color: #da00ff; }

.about-us .tab-content .faq-accordion .card-header,
.about-us .tab-content .faq-accordion .card-header .btn-link,
.about-us .tab-content .user-message-form input[type=email],
.about-us .tab-content .user-message-form input[type=text],
.about-us .tab-content .user-message-form textarea,
.gallery .filter-btn-list .filter-btn,
.img-frame,
.info-tab .tab-head,
.newsletter-form .newsletter-email .submit-btun,
.page-footer input[type=email] {
  background-color: transparent; }

/*=================== 3- borders group ==================*/
.pricing .plan .plan-cost .plan-highlight:after {
  border-color: transparent transparent transparent #7a19a7; }

.gallery .filter-btn-list .filter-btn {
  border-color: transparent; }

.about-us .tab-head.active,
.about-us .tab-head:hover {
  border-color: #343a40; }

.about-us .tab-content .faq-accordion .card-body,
.about-us .tab-content .faq-accordion .card-header,
.about-us .tab-content .user-message-form input[type=email]:focus,
.about-us .tab-content .user-message-form input[type=text]:focus,
.about-us .tab-content .user-message-form textarea:focus,
.about-us .tab-head,
.active:after,
.box-handel,
.butn,
.gallery .filter-btn-list,
.gallery .filter-btn-list .filter-btn.active,
.gallery .filter-btn-list .filter-btn:hover,
.goals .goal-icon i,
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link:after,
.option-box .options-wraper,
.pricing .plan .plan-cost,
.testmonials .customer-info .customer-details,
.title-center-border:after,
.title-left-border:after,
.back-to-top {
  border-color: #7a19a7; }

.about-us .tab-content .user-message-form input[type=email],
.about-us .tab-content .user-message-form input[type=text],
.about-us .tab-content .user-message-form textarea,
.news-letter input[type=email],
.page-footer .copyrights,
.page-footer .newsletter-form .newsletter-email input[type=email] {
  border-color: rgba(122, 25, 167, 0.5); }

.pricing .plan .plan-cost h3 {
  border-color: #FFF; }

.pricing .plan .plan-details ul li,
.testmonials .customer-info {
  border-color: #d6d6d6; }

/*=================== 4- box-shadow group====================*/
.about-us .tab-content .faq-accordion .card,
.img-frame,
.pricing .plan,
.testmonials .testmonial-content,
header {
  box-shadow: 0 0 10px 1px #a1a1a1; }

.butn,
.back-to-top {
  box-shadow: 0 5px 15px -5px #343a40; }

.butn:hover {
  box-shadow: 0 8px 25px -5px #343a40; }

a::selection,
div::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
i::selection,
li::selection,
p::selection,
span::selection {
  color: #FFF;
  background: rgba(122, 25, 167, 0.7); }
a::-moz-selection,
div::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
i::-moz-selection,
li::-moz-selection,
p::-moz-selection,
span::-moz-selection {
  color: #FFF;
  background: rgba(122, 25, 167, 0.7); }

.navbar .navbar-toggler {
  outline-color: #7a19a7; }

/*# sourceMappingURL=color-purple.css.map */
