/*****************************************************************
*
* Project Name: Robo Theme.
* description: a Multi-purpose one-page theme for createve, corporates and business uses;
*             
* version: 1.0  
<=======>  CSS RULES MAP <=======>

 Start Imorting Custome Mixins
 START GLOBAL RULES
 START NAVBAR
 START HEADER 
 START FEATURES SECTION
 START GALLERY SECTION
 START TESTMOIALS SECTION
 START PRICING SECTION
 START PARTNERS SECTION
 START ABOUT-US SECTION
 START PARTNERS SECTION
 START PAGE-FOOTER 
 START BACK TO TOP BUTTON
 START OPTION BOX ASIDE 
 START lOADING SCREEN DIV

*****************************************************************/
@media (max-width: 991px) {
  h1.responsive-heading {
    font-size: 2rem; } }

@media (max-width: 991px) {
  h2.responsive-heading {
    font-size: 1.5rem; } }

@media (max-width: 991px) {
  h3.responsive-heading {
    font-size: 1.25rem; } }

@media (max-width: 991px) {
  h4.responsive-heading {
    font-size: 1.1rem; } }

@media (max-width: 991px) {
  h5.responsive-heading {
    font-size: 1rem; } }

@media (max-width: 991px) {
  h6.responsive-heading {
    font-size: .9rem; } }

/*==========================    START GLOBAL RULES  ==========================*/
.butn {
  position: relative;
  display: inline-block;
  outline: none !important;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  min-width: 150px;
  padding: .75rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 0;
  overflow: hidden; }
  .butn:hover {
    transform: translateY(-1px); }
    .butn:hover:before {
      left: 150%; }
    .butn:hover:after {
      right: 150%; }
  .butn:before, .butn:after {
    content: '';
    position: absolute;
    border-radius: .25rem;
    top: 0;
    bottom: 0;
    width: 20%;
    transition: all .8s ease-in-out;
    opacity: .5;
    z-index: -1; }
  .butn:before {
    left: -100%; }
  .butn:after {
    right: -100%; }
  @media (max-width: 991px) {
    .butn {
      font-size: .8rem;
      min-width: auto;
      padding: .75rem; } }

.paragraph {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  line-height: 1.8;
  letter-spacing: .6px;
  font-weight: 400; }

.super-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic; }

.img-frame {
  border-radius: 10px;
  padding: 5px; }

.enabeld-element {
  opacity: 1;
  pointer-events: auto; }

.disabled-element {
  opacity: .2;
  pointer-events: none; }

.title-center-border:after,
.title-left-border:after,
.title-right-border:after {
  content: '';
  border-bottom: 4px solid;
  border-radius: 5px;
  width: 65px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: block; }

.title-left-border:after {
  margin-right: auto; }

.title-right-border:after {
  margin-left: auto; }

.title-center-border:after {
  margin-left: auto;
  margin-right: auto; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2; }

@media screen and (max-width: 991px) {
  .no-scroll {
    overflow: hidden; } }

body {
  position: relative; }

section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    section {
      padding-top: 60px;
      padding-bottom: 60px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", "sans-serif";
  letter-spacing: .4px;
  font-weight: 700; }

a {
  text-decoration: none !important;
  font-family: "Montserrat", "sans-serif"; }

/*==========================  END GLOBAL RULES  ==========================*/
/* ==========================     START NAVBAR    ========================== */
.navbar {
  transition: all .3s ease-in-out;
  max-height: 90px; }
  .navbar .navbar-brand {
    font-weight: 700;
    font-family: "Roboto Slab", "sans-serif";
    font-size: 1.5rem;
    transition: all .3s ease-in-out; }
    .navbar .navbar-brand span {
      font-weight: 400;
      font-size: 1rem; }
  .navbar .menu-opend-btn {
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer; }
    .navbar .menu-opend-btn i {
      display: block;
      width: 30px;
      height: 1px;
      background-color: #fff;
      border-radius: 1px;
      transition: all .3s ease-in-out; }
      .navbar .menu-opend-btn i:nth-child(2) {
        transform: translate(-5px); }
  .navbar .menu-closed-btn i:first-child {
    transform: rotate(225deg) translateY(-8px); }
  .navbar .menu-closed-btn i:nth-child(2) {
    display: none; }
  .navbar .menu-closed-btn i:last-child {
    transform: rotate(-45deg) translateY(-8px); }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    position: relative;
    padding: 1rem 0;
    cursor: pointer;
    font-family: "Montserrat", "sans-serif";
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
    width: 100%; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i.fa {
      margin-right: 10px; }
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 7px;
      border-bottom: 3px solid;
      border-radius: 5px;
      width: 100%;
      transform: scale(0);
      transition: all .5s ease-in-out; }
  .navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active:after {
    transform: scale(1); }
  @media (max-width: 991px) {
    .navbar .mobile-navbar-show {
      left: 0 !important; }
      .navbar .mobile-navbar-show .navbar-mobile-menu {
        min-width: 75% !important;
        left: 0 !important; }
    .navbar .navbar-mobile-menu-wrapper {
      position: fixed;
      left: -100vw;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      cursor: url(../../assets/Images/Close-Icon.png), auto;
      transition: all .6s ease-in-out; }
      .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu {
        margin: 0 !important;
        overflow: auto;
        position: absolute;
        min-width: 100%;
        left: -100vw;
        top: 0;
        height: 100%;
        transition: all .6s ease-in-out;
        cursor: pointer; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item {
          transition: all .3s ease-in-out;
          margin-right: 0 !important;
          width: 100%; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item:hover .nav-link::after {
            width: 0 !important; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .nav-item .nav-link {
            padding: 1rem;
            font-family: "Montserrat", "sans-serif";
            transition: all .3s ease-in-out; }
        .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active {
          transition: color .3s ease-in-out; }
          .navbar .navbar-mobile-menu-wrapper .navbar-mobile-menu .active::after {
            display: none !important; } }

/*==========================  END NAVBAR   ==========================*/
/*==========================  START page-footer   ==========================*/
.page-footer {
  /*Start Google Map*/
  /*End Google Map*/
  /* Start Footer Social Icons */
  /*========================== start Newsletter section  ==========================*/
  /*========================== End Newsletter section  ==========================*/ }
  .page-footer a,
  .page-footer address {
    font-family: "Montserrat", "sans-serif"; }
  .page-footer .map {
    width: 100%;
    min-height: 230px;
    height: 100%; }
  .page-footer .adress-info ul li {
    margin-bottom: 1rem;
    font-size: .85rem; }
    .page-footer .adress-info ul li a {
      text-decoration: none;
      transition: all .3s ease-in; }
    .page-footer .adress-info ul li i {
      padding-right: 1rem; }
  .page-footer .footer-social-icons {
    margin-top: 20px;
    /* End Footer Social Icons */ }
    .page-footer .footer-social-icons a {
      text-decoration: none;
      margin-right: 10px; }
      .page-footer .footer-social-icons a:last-of-type {
        margin-right: 0; }
      .page-footer .footer-social-icons a i.fa {
        transition: color .3s ease-in-out; }
  .page-footer .newsletter-form .newsletter-email {
    position: relative; }
    .page-footer .newsletter-form .newsletter-email input[type=email] {
      padding: 6px;
      font-size: 1rem;
      outline: none;
      width: 100%;
      font-size: 1rem;
      border: 1px solid;
      border-radius: .25rem;
      transition: all .3s ease-in-out; }
    .page-footer .newsletter-form .newsletter-email .submit-btun {
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      right: 10px;
      cursor: pointer;
      border: none;
      outline: none !important;
      padding: 5px; }
  .page-footer .copyrights {
    padding: 1rem;
    border-top: 1px solid; }

/*==========================  END page-footer   ==========================*/
/*==========================  16- START OPTION BOX ASIDE  ==========================*/
.option-box .options-wraper {
  position: fixed;
  left: -300px;
  width: 300px;
  top: 25vh;
  transform: translateY(-25%);
  border: 1px solid;
  border-left: none;
  z-index: 999;
  transition: left .3s ease-in-out; }
  @media (max-width: 991px) {
    .option-box .options-wraper {
      left: -200px;
      width: 200px;
      top: 81px; } }
  .option-box .options-wraper .box-handel {
    font-size: 1rem;
    font-weight: lighter;
    position: absolute;
    top: 90px;
    left: calc(300px - 1px);
    width: 30px;
    height: 30px;
    line-height: 26px;
    border: 1px solid;
    border-left: none;
    text-align: center;
    cursor: pointer; }
    @media (max-width: 991px) {
      .option-box .options-wraper .box-handel {
        left: calc( 200px - 1px); } }
  .option-box .options-wraper .color-options {
    padding: 50px 20px; }
    .option-box .options-wraper .color-options ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .option-box .options-wraper .color-options ul li {
        width: 40px;
        height: 40px; }
        .option-box .options-wraper .color-options ul li span {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          cursor: pointer; }

.show-options-box {
  left: 0 !important; }

/*==========================  END OPTION BOX ASIDE  ==========================*/
/*==========================  15- START BACK TO TOP BUTTON ==========================*/
.back-to-top {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  cursor: pointer;
  z-index: 20; }
  .back-to-top i.fa {
    font-size: 1.5rem; }

/*==========================  END BACK TO TOP BUTTON ==========================*/
/*==========================   START lOADING SCREEN DIV  ==========================*/
.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }
  .loading-screen .spinner {
    margin: 50vh auto 0;
    text-align: center; }
  .loading-screen .spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .loading-screen .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading-screen .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*==========================  END lOADING SCREEN DIV  ==========================*/
/*==========================   START HEADER  ========================== */
header {
  background: url("../../assets/Images/header/main-header.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  z-index: 1;
  overflow: hidden; }
  header .header-wraper {
    position: relative;
    z-index: 3;
    max-height: 100vh;
    height: 100vh; }
    header .header-wraper .desc .disc-heading-1 {
      font-size: 6rem;
      font-weight: 500;
      display: inline-block; }
    header .header-wraper .desc span {
      font-size: 3.333333334rem;
      font-weight: 400;
      font-family: "Roboto Slab", "sans-serif"; }
    header .header-wraper .desc .disc-heading-2 {
      font-size: 2rem;
      font-weight: 400;
      font-style: italic; }
    header .header-wraper .desc .paragraph {
      margin-bottom: 0; }
    @media (max-width: 767px) {
      header .header-wraper .desc .disc-heading-1 {
        font-size: 3rem; }
      header .header-wraper .desc span {
        font-size: 2rem; }
      header .header-wraper .desc .disc-heading-2 {
        font-size: 1.5rem;
        font-weight: 400; }
      header .header-wraper .desc .paragraph {
        margin-bottom: 0;
        font-size: .85rem;
        line-height: 1.6; } }
    @media (max-height: 450px) {
      header .header-wraper .desc .disc-heading-1 {
        font-size: 3rem; }
      header .header-wraper .desc span {
        font-size: 1rem; }
      header .header-wraper .desc .disc-heading-2 {
        font-size: 1rem;
        font-weight: 400; }
      header .header-wraper .desc .paragraph {
        margin-bottom: 0;
        font-size: .85rem;
        line-height: 1.6; }
      header .header-wraper .desc .cta {
        min-width: 150px; } }

/*==========================  END HEADER  ==========================*/
/*========================== START FEATURES SECTION  ==========================*/
.features {
  overflow: hidden; }
  .features .feature-box {
    transition: all .3s ease-in-out; }
    .features .feature-box .feature-content {
      transition: all .3s ease-in-out;
      max-width: 400px;
      margin: 0 auto; }
      .features .feature-box .feature-content .fa {
        font-size: 4rem;
        display: inline-block; }
      .features .feature-box .feature-content .feat-title {
        margin-bottom: 1rem;
        margin-top: .5rem; }
        @media screen and (max-width: 576px) {
          .features .feature-box .feature-content .feat-title {
            font-size: .85rem;
            margin-bottom: .5rem;
            margin-top: .5rem; } }
      .features .feature-box .feature-content .feat-text {
        font-size: .8rem; }

/*==========================  End FEATURES SECTION  ==========================*/
/*==========================    START gallery SECTION  ==========================*/
.gallery .filter-wraper {
  overflow: hidden; }
.gallery .filter-btn-list {
  padding-top: 5px;
  padding-bottom: 25px;
  margin-bottom: 0; }
  .gallery .filter-btn-list .filter-btn {
    min-width: 80px;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    font-family: "Montserrat", "sans-serif";
    font-size: 1rem;
    letter-spacing: 1px;
    border-bottom: 2px solid;
    transition: all .3s ease-in-out;
    cursor: pointer; }
.gallery .filter-group {
  position: relative; }
  .gallery .filter-group .pic-link {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none;
    z-index: 1;
    transition: all .3s ease-in-out; }
    .gallery .filter-group .pic-link:after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      transition: background-color .6s ease-in-out; }
  .gallery .filter-group .gallery-item {
    position: relative; }
    .gallery .filter-group .gallery-item:hover .hidden-info {
      bottom: 20px;
      opacity: 1; }
    .gallery .filter-group .gallery-item img {
      transition: all .3s ease-in-out; }
    .gallery .filter-group .gallery-item .info-link {
      display: block;
      font-size: 1.25rem;
      font-family: "Roboto Slab", "sans-serif";
      transition: all .3s ease-in-out; }
    .gallery .filter-group .gallery-item span {
      font-size: .85rem;
      display: block; }
    @media (max-width: 991px) {
      .gallery .filter-group .gallery-item .info-link {
        font-size: 1rem; }
      .gallery .filter-group .gallery-item span {
        font-size: .75rem; } }
    @media (max-width: 576px) {
      .gallery .filter-group .gallery-item .info-link {
        font-size: .85rem; }
      .gallery .filter-group .gallery-item span {
        font-size: .65rem; } }
    .gallery .filter-group .gallery-item .hidden-info {
      position: absolute;
      left: 10px;
      bottom: 15px;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: 5;
      transition: all .3s ease-in-out; }

/*  ==========================END gallery SECTION  ==========================*/
/*==========================  START TESTMOIALS SECTION  ==========================*/
.testmonials .swiper-wrapper .swiper-slide .testmonial-content {
  max-width: 90%;
  margin: 15px auto;
  border-radius: 1rem 1rem .25rem .25rem; }
  .testmonials .swiper-wrapper .swiper-slide .testmonial-content .content .testmonial-text {
    font-family: "Roboto Slab", "sans-serif";
    overflow-y: auto; }
  .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-info {
    margin-top: 0;
    margin-bottom: 20px; }
    .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-info img {
      padding: 3px; }
    .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-info .customer-details {
      padding-left: .75rem;
      transform: translateY(12px);
      display: inline-block; }
      .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-info .customer-details .customer-name {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: .5rem; }
      .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-info .customer-details .customer-role {
        font-size: .85rem;
        margin-bottom: .5rem; }
  @media (max-width: 991px) {
    .testmonials .swiper-wrapper .swiper-slide .testmonial-content .customer-testmonial {
      padding: 0 10px; } }
  .testmonials .swiper-wrapper .swiper-slide .testmonial-content i.fa-quote-left {
    display: block;
    font-size: 60px;
    opacity: .4;
    margin: 1rem; }
.testmonials div.swiper-button-next,
.testmonials div.swiper-button-prev {
  background-image: none; }
  .testmonials div.swiper-button-next i,
  .testmonials div.swiper-button-prev i {
    font-family: 'fontawesome';
    font-size: 60px;
    font-weight: 300; }
.testmonials div.swiper-button-prev {
  left: 15px; }

/*==========================  END TESTMOIALS SECTION  ==========================*/
/*==========================  START PRICING SECTION  ==========================*/
.pricing .plan {
  padding-bottom: 1rem;
  transition: all .3s ease-in-out;
  border-radius: 1rem 1rem .25rem .25rem;
  max-width: 320px; }
  .pricing .plan .plan-cost {
    padding-top: 3.5rem;
    border-bottom: .25rem solid;
    position: relative;
    border-radius: 1rem 1rem 0 0; }
    .pricing .plan .plan-cost h3 {
      border-bottom: 1px solid;
      padding-top: 2rem;
      padding-bottom: 2rem; }
    .pricing .plan .plan-cost .plan-price {
      font-size: 4rem;
      font-weight: 700; }
      .pricing .plan .plan-cost .plan-price sup.plan-currency {
        font-size: 1.5rem;
        font-weight: 400;
        position: relative;
        top: -2rem;
        left: -.5rem;
        line-height: 0;
        vertical-align: baseline;
        display: inline-block; }
    .pricing .plan .plan-cost .plan-highlight {
      position: absolute;
      top: 20px;
      left: -14px;
      padding: 5px; }
      .pricing .plan .plan-cost .plan-highlight:after {
        content: '';
        display: block;
        border: 10px solid;
        top: 24px;
        left: 4px;
        width: 15px;
        position: absolute;
        z-index: 26;
        transform: rotate(-45deg); }
  .pricing .plan .plan-details ul {
    list-style: none;
    padding: 0 10px; }
    .pricing .plan .plan-details ul li {
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid;
      font-family: "Montserrat", "sans-serif";
      font-size: 1rem; }
  .pricing .plan .order-now {
    margin: 10px auto; }
    .pricing .plan .order-now:hover i.fa {
      transform: translateX(3px); }
    .pricing .plan .order-now i.fa {
      font-size: .8rem;
      transition: all .3s ease-in-out; }

/*==========================  END PRICING SECTION  ==========================*/
/*  ==========================   START About Us SECTION ==========================*/
.about-us .tab-list {
  margin-bottom: 40px; }
.about-us .tab-head {
  position: relative;
  padding: 5px;
  min-width: 10%;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  border-radius: .25rem .25rem 0 0;
  border-bottom: 2px solid;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  @media (max-width: 991px) {
    .about-us .tab-head {
      font-size: .9rem; } }
.about-us .tab-content {
  display: none; }
  .about-us .tab-content .content-heading {
    margin-bottom: 1rem; }
  .about-us .tab-content .faq-accordion .card {
    border: none;
    border-radius: 0; }
  .about-us .tab-content .faq-accordion .card-header {
    padding: 0;
    position: relative;
    border: 1px solid; }
    .about-us .tab-content .faq-accordion .card-header .btn-link {
      width: 100%;
      padding-left: 10px;
      padding-right: 20px;
      text-align: left;
      text-decoration: none;
      border-radius: 0;
      font-weight: bold;
      white-space: normal; }
      .about-us .tab-content .faq-accordion .card-header .btn-link::after {
        content: "\f106";
        font-family: fontawesome;
        font-size: inherit;
        font-weight: bold;
        line-height: 1.1;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto; }
      .about-us .tab-content .faq-accordion .card-header .btn-link.collapsed::after {
        content: '\f107'; }
  .about-us .tab-content .faq-accordion .card-body {
    border: 1px solid; }
  .about-us .tab-content .user-message-form label {
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: "Montserrat", "sans-serif";
    font-weight: normal; }
    @media (max-width: 991px) {
      .about-us .tab-content .user-message-form label {
        font-size: .75rem; } }
  .about-us .tab-content .user-message-form input[type=email],
  .about-us .tab-content .user-message-form input[type=text],
  .about-us .tab-content .user-message-form textarea {
    display: block;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid;
    border-radius: .25rem;
    margin-bottom: .5rem;
    transition: border-color .3s ease-in-out;
    font-size: 1rem; }
    @media (max-width: 991px) {
      .about-us .tab-content .user-message-form input[type=email],
      .about-us .tab-content .user-message-form input[type=text],
      .about-us .tab-content .user-message-form textarea {
        font-size: .75rem; } }
  .about-us .tab-content .user-message-form textarea {
    min-height: 8rem; }
  .about-us .tab-content .user-message-form input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
.about-us .tab-content-1 {
  display: block; }

/* ========================== END About Us SECTION  ========================== */
/*==========================   START PARTNERS SECTION  ==========================*/
.partners {
  border: none;
  height: auto;
  padding: 40px 0; }
  @media (max-height: 500px) and (max-width: 360px) {
    .partners {
      display: none; } }
  @media (max-height: 500px) {
    .partners {
      display: none; } }
  @media (max-width: 360px) {
    .partners {
      display: none; } }

/*==========================  END PARTNERS SECTION  ==========================*/
/* Start our-team Social Icons */
.our-team .tm-member-card {
  margin: 0;
  text-align: center; }
  .our-team .tm-member-card .tm-img {
    margin-bottom: 1rem; }
    .our-team .tm-member-card .tm-img img {
      transition: transform .3s ease-in-out; }
      .our-team .tm-member-card .tm-img img:hover {
        transform: scale(1.05); }
  .our-team .tm-member-card .tm-details .tm-name {
    margin-bottom: .25rem;
    letter-spacing: 1px; }
  .our-team .tm-member-card .tm-details .tm-role {
    display: block;
    font-family: "Montserrat", "sans-serif";
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .5rem; }
  .our-team .tm-member-card .tm-social-icons a {
    text-decoration: none;
    margin-right: 10px; }
    .our-team .tm-member-card .tm-social-icons a:last-of-type {
      margin-right: 0; }
    .our-team .tm-member-card .tm-social-icons a i.fa {
      font-size: 1.25rem;
      transition: color .3s ease-in-out; }
@media screen and (max-width: 991px) {
  .our-team .tm-member-card {
    margin: 0 1rem 2rem;
    text-align: center; }
    .our-team .tm-member-card .tm-img {
      margin-bottom: 1rem; } }

/* End our-team Social Icons */

/*# sourceMappingURL=index-layout.css.map */
