/*==========================    START GLOBAL RULES  ==========================*/
/*  Importing Fonts  */
@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Exo: 500,500i,600,600i,800,800i");
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem; }

/*  used as a selector to manipulate the <p> element as needed  */
.paragraph {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 1.25rem;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  line-height: 1.8;
  letter-spacing: .6px;
  font-weight: 500; }

.super-paragraph {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic; }

/*  to make a nice frame on the imgs that has this class  */
.img-frame {
  border-radius: .75rem;
  padding: .5rem; }

/*  to enable any element that previously had the .disabled-element class.  */
.enabeld-element {
  opacity: 1;
  pointer-events: auto; }

/*  to disable any element and prevent the mouse action on it  */
.disabled-element {
  opacity: .2;
  pointer-events: none; }

/*  add a short border after an element such as headings  */
.title-center-border:after,
.title-left-border:after,
.title-right-border:after {
  content: '';
  border-bottom: 4px solid;
  border-radius: 5px;
  width: 65px;
  margin-top: .75rem;
  margin-bottom: 1rem;
  display: block; }

/*  to add a left aligned border after the element use this class  */
.title-left-border:after {
  margin-right: auto; }

/*  to add a right aligned border after the element use this class  */
.title-right-border:after {
  margin-left: auto; }

/*  to add a center aligned border after the element use this class  */
.title-center-border:after {
  margin-left: auto;
  margin-right: auto; }

/*   an overlay to use in multibale places  */
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* set the parent of this class z-index=1 and the content div after this class with z-index=3 to be always on the top of overlay */
  z-index: 2; }

/* used to stop scrolling the page while the navbar menu opend on screen less than 992px  */
@media screen and (max-width: 991px) {
  .no-scroll {
    overflow: hidden; } }

body {
  /* ncessary for the bootstrap scroll-spy */
  position: relative; }

section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 991px) {
    section {
      padding-top: 60px;
      padding-bottom: 60px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", "sans-serif";
  letter-spacing: .4px;
  font-weight: 600; }

a {
  text-decoration: none !important;
  font-family: "Montserrat", "sans-serif"; }

/*==========================  END GLOBAL RULES  ==========================*/
/*  START lOADING SCREEN  */
.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999; }
  .loading-screen .spinner {
    margin: 50vh auto 0;
    text-align: center; }
  .loading-screen .spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .loading-screen .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .loading-screen .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
@-webkit-keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%,
        100%,
        80% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
/*  END lOADING SCREEN   */
.user-form {
  margin-bottom: 3rem; }
  .user-form label {
    text-transform: capitalize;
    margin-bottom: 0;
    font-family: "Exo", "sans-serif";
    font-weight: 600;
    font-size: .8rem; }
  .user-form input[type=email],
  .user-form input[type=text],
  .user-form input[type=password],
  .user-form textarea {
    display: block;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid;
    border-radius: .25rem;
    margin-bottom: 1rem;
    transition: border-color .3s ease-in-out;
    font-size: .85rem;
    font-family: "Montserrat", "sans-serif"; }
  .user-form textarea {
    min-height: 8rem; }
  .user-form input[type=submit] {
    display: block;
    margin-right: auto;
    margin-top: 10px; }

/* Start .butn styles */
.butn {
  position: relative;
  display: inline-block;
  outline: none !important;
  font-family: "Montserrat", "sans-serif";
  font-size: .85rem;
  min-width: 150px;
  padding: .75rem;
  border: none;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
  text-align: center;
  z-index: 0;
  overflow: hidden; }
  .butn:hover {
    transform: translateY(-1px); }
    .butn:hover:before {
      left: 150%; }
    .butn:hover:after {
      right: 150%; }
  .butn:before, .butn:after {
    content: '';
    position: absolute;
    border-radius: .25rem;
    top: 0;
    bottom: 0;
    width: 20%;
    transition: all .8s ease-in-out;
    opacity: .5;
    z-index: -1; }
  .butn:before {
    left: -100%; }
  .butn:after {
    right: -100%; }
  @media (max-width: 991px) {
    .butn {
      font-size: .8rem;
      min-width: 120px;
      padding: .75rem; } }
  .butn i.fa {
    margin-left: .25rem;
    margin-right: .25rem; }

/* End .butn styles */
body {
  position: relative;
  overflow: hidden; }

.signing-wrapper {
  width: 100vw;
  height: 100vh;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
  background: url("../../assets/Images/header/main-header-4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: auto;
  z-index: 0; }
  .signing-wrapper .social-signing-links {
    margin-bottom: 1.5rem; }
    .signing-wrapper .social-signing-links .social-butn {
      padding: .5rem 1rem;
      font-family: "Montserrat", "sans-serif";
      font-size: .8rem;
      margin: .75rem 0;
      display: block;
      position: relative;
      border-radius: .25rem; }
      .signing-wrapper .social-signing-links .social-butn i.fa {
        margin-right: 5px;
        font-size: 1.25rem;
        position: absolute;
        left: .5rem; }
  .signing-wrapper .signing-divider {
    margin-bottom: 2rem;
    position: relative; }
    .signing-wrapper .signing-divider:before, .signing-wrapper .signing-divider:after {
      content: '';
      border-bottom: 3px solid;
      width: 40%;
      display: block;
      position: absolute;
      top: .5rem; }
    .signing-wrapper .signing-divider:before {
      left: 0; }
    .signing-wrapper .signing-divider:after {
      right: 0; }
  .signing-wrapper .sginin-form-area {
    position: relative;
    z-index: 3; }
    .signing-wrapper .sginin-form-area .signing-heading {
      font-family: "Exo", "sans-serif";
      margin-bottom: 1.5rem; }
  .signing-wrapper .signing-form-holder label {
    display: block;
    margin-bottom: .5rem;
    font-size: .75rem; }
    .signing-wrapper .signing-form-holder label .forgot-password {
      float: right; }
  .signing-wrapper .signing-form-holder .disclaimer {
    font-size: .7rem; }
    .signing-wrapper .signing-form-holder .disclaimer a {
      font-weight: 600; }

/*# sourceMappingURL=signing-layout.css.map */
