.all-posts {
    .post-card {
        transition: all .3s ease-in-out;
        overflow: hidden;
        margin-bottom: 30px;
        .post-img {
            position: relative;
            overflow: hidden;
            transition: all .5s ease-in-out;
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all .5s ease-in-out;
            }
            img {
                height: 240px;
                width: 100%;
            }
            .read-more {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 44px;
                position: absolute;
                bottom: -60px;
                right: 15px;
                text-align: center;
                cursor: pointer;
                transition: all .5s ease-in-out;
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
                i.fa {
                    font-size: 1.5rem
                }
                &:hover {
                    transform: translateY(-3px);
                }
            }
        }
        .post-card-info {
            position: relative;
            .auther-img {
                position: absolute;
                top: -50px;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                height: 70px;
                border: 2px solid;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        i.fa-tags {
            font-size: 1.5rem;
            margin-right: .25rem;
        }
        .post-title {
            margin-top: 30px;
        }
        .post-title-link {
            font-family: $bodyFontFamily;
            font-size: 1.25rem;
            font-weight: 500;
            transition: color .3s ease-in-out;
        }
        .post-card-tags {
            ul {
                li {
                    display: inline-block;
                }
            }
            .tag-lable {
                display: inline-block;
                margin: 5px 0;
                padding: .125rem .75rem;
                font-family: $bodyFontFamily;
                font-size: .75rem;
                letter-spacing: .25px;
                border: 1px solid;
                border-radius: .75rem;
                transition: color .3s ease-in-out;
                &::before {
                    content: '#';
                    display: block;
                    float: left;
                    margin-right: 3px;
                }
            }
        }
        .post-engagement {
            padding: .75rem 0;
            .engagement:nth-child(2) {
                border-left: 2px solid;
                border-right: 2px solid;
            }
        }
        &:hover .read-more {
            bottom: 20px;
        }
    }
    .pages-nav {
        .the-page-item {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            font-size: .85rem;
            overflow: hidden;
            transition: all .3s ease-in-out;
        }
        .prev,
        .next {
            min-width: 100px;
            border-radius: 30px;
            margin: 0 10px;
        }
        .the-page-link {
            display: inline-block;
            width: 100%;
        }
    }
    @media (max-width:991px) {
        .pages-nav {
            position: relative;
            margin-bottom: 30px;
            .prev,
            .next {
                position: absolute;
                top: 50px;
                min-width: 80px;
                margin: 0;
            }
            .prev {
                left: 0;
                transform: translateX(100%);
            }
            .next {
                right: 0;
                transform: translateX(-100%);
            }
        }
    }
    @media (max-width:360px) {
        .pages-nav {
            .prev,
            .next {
                display: none;
            }
        }
    }
}