.all-articles-cards {
    .artical-card {
        .artical-card-info {
            .span-by,
            .time-on {
                font-size: .9rem;
                font-weight: 700;
                font-style: italic;
            }
            .auther-name,
            .publish-date {
                font-size: .75rem;
                font-weight: 700;
                color: #f50;
            }
            .auther-img {
                position: relative;
                min-height: 50px;
                img {
                    border-radius: 50%;
                    position: absolute;
                    top: -50%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .artical-card-tags {
            .tag-lable {
                display: inline-block;
                margin: 5px 0;
                padding: 0 15px;
                background: #ddd;
                border-radius: 13px;
            }
        }
    }
}