body {
    height: 1000px;
}

header {
    position: relative;
    min-height: 50vh;
    background: url('../../assets/Images/about-us/about-us-header.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    .about-us-heading-content {
        position: relative;
        padding: 2rem 0;
        z-index: 3;
        .about-us-heading {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

@import '_features.scss';
@import '_our-team.scss';