/* Start Blog Pages Global Rules */

.article-info-bar {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    font-size: .75rem;
    .auther-info {
        display: flex;
        align-items: baseline;
        .auther-img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 5px;
            img {
                width: 40px;
                height: 40px;
            }
        }
        .auther-name {
            margin-right: 10px;
            font-weight: 600;
        }
        .auther-contact-info {
            margin: 0;
            padding: 0;
            margin-right: 15px;
            &>li {
                display: inline-block;
                margin-right: 5px;
                cursor: pointer;
            }
        }
    }
    .publish-date {
        margin-left: 45px;
    }
}

ul.tags-list {
    list-style: none;
    li {
        display: inline-block;
        margin-right: .25rem;
        margin-bottom: .25rem;
    }
    .tag-lable {
        display: inline-block;
        padding: .125rem .5rem;
        font-family: $bodyFontFamily;
        font-size: .75rem;
        font-weight: 600;
        letter-spacing: .25px;
        border-radius: .25rem;
        transition: all .3s ease-in-out;
        &::before {
            content: '#';
            display: block;
            float: left;
            margin-right: 1px;
        }
    }
}

/*  End Blog Pages Global Rules  */

.all-posts {
    .posts-main-area {
        padding-bottom: 2.5rem;
    }
    .post-card {
        transition: all .3s ease-in-out;
        overflow: hidden;
        margin-bottom: 30px;
        .post-img {
            position: relative;
            overflow: hidden;
            margin-bottom: 1rem;
            transition: all .5s ease-in-out;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transition: all .5s ease-in-out;
            }
            img {
                transition: transform .5s ease-out;
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
        .post-content {
            position: relative;
            .read-more {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                line-height: 44px;
                position: absolute;
                top: -60px;
                right: 50px;
                text-align: center;
                visibility: hidden;
                opacity: 0;
                cursor: pointer;
                transition: all .3s ease-out;
                a {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
                i.fa {
                    font-size: 1.5rem
                }
                &:hover {
                    transform: translateY(-3px);
                }
            }
        }
        i.fa-tags {
            font-size: 1.5rem;
            margin-right: .25rem;
        }
        .post-title {
            font-size: 1.25rem;
            line-height: 1.5;
            font-family: $headingFontFamily;
            font-weight: 600;
        }
        .post-title-link {
            font-family: $headingFontFamily;
            font-size: 1.25rem;
            transition: color .3s ease-in-out;
        }
        .post-engagement {
            padding: .75rem 0;
            .engagement:nth-child(2) {
                border-left: 2px solid;
                border-right: 2px solid;
            }
        }
        &:hover .read-more {
            right: 20px;
            visibility: visible;
            opacity: 1;
        }
    }
    .pages-nav {
        .the-page-item {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            font-size: .85rem;
            overflow: hidden;
            transition: all .3s ease-in-out;
            margin-right: 2px;
            margin-left: 2px;
        }
        .prev,
        .next {
            min-width: 100px;
            border-radius: 30px;
            margin: 0 10px;
        }
        .the-page-link {
            display: inline-block;
            width: 100%;
        }
    }
    @media (max-width:991px) {
        .pages-nav>ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media (max-width:360px) {
        .pages-nav {
            .prev,
            .next {
                display: none;
            }
        }
    }
}

/*  start .artical-section  */

.article-section {
    .article {
        margin-bottom: 2rem;
    }
    .article-header {
        padding: 2rem;
    }
    .article-title {
        font-size: 1.5rem;
    }
    .article-body {
        padding: 0 2rem 2rem 2rem;
        font-size: 1.15rem;
        border-bottom: 1px solid;
        .article-fig {
            margin: 2rem 0;
        }
        .end-of-article {
            margin: 1.5rem auto;
            height: 1px;
        }
    }
    @media screen and (max-width:991px) {
        .article-title {
            font-size: 1.25rem;
        }
        .article-body {
            padding: 0 1rem 1rem 1rem;
            font-size: .9rem;
        }
    }
}

/*  Start Comments Area  */

.comments-area {
    .leave-comment {
        margin-bottom: 2rem;
        .user-comment {
            display: block;
            width: 100%;
            padding: 1rem;
            outline: none;
            border: 1px solid;
            border-radius: .25rem;
            margin-bottom: .5rem;
            transition: border-color .3s ease-in-out;
            font-size: .85rem;
            font-family: $bodyFontFamily;
            min-height: 6rem;
        }
        .publish-butn {
            i.fa {
                margin-right: .5rem;
            }
        }
    }
    .is-comment,
    .is-reply {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.25rem;
    }
    .is-reply {
        margin-left: 2rem;
    }
    .commenter-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        margin-right: .5rem;
    }
    .comment-body {
        padding: 1rem;
        border-radius: .25rem;
    }
    .commenter-name {
        margin: 0;
        &>a {
            font-size: .85rem;
        }
    }
    .comment-time {
        font-size: .75rem;
    }
    .comment-text {
        font-family: $bodyFontFamily;
        font-size: .85rem;
        margin-top: 1rem;
        padding-left: .5rem;
        border-left: 3px solid
    }
    .engagment-bar {
        i.fa {
            font-size: 1rem;
            cursor: pointer;
        }
        .reply-action {
            margin-left: 20px;
            cursor: pointer;
            transition: color .3s ease-in-out;
        }
    }
}

.side-bar {
    .box {
        margin-bottom: 2rem;
        border-radius: .25rem;
        border-bottom: 1px solid;
    }
    .box-heading {
        i.fa {
            float: right;
            clear: both;
            font-weight: 600;
            font-size: 1.25rem;
        }
    }
    .search-box {
        border: none;
        .search-form {
            padding: 0;
            margin: 0;
            outline: none;
            position: relative;
        }
        .search-input {
            width: 100%;
            outline: none;
            border: 2px solid;
            padding: 5px 40px 5px 10px;
            border-radius: .25rem;
            transition: border-color .3s ease-in-out;
        }
        .search-submit {
            border: 2px solid;
            border-radius: 0 .25rem .25rem 0;
            outline: none;
            padding: 0;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 80px;
            cursor: pointer;
            z-index: 1;
        }
        i.fa {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 1.25rem;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            cursor: pointer;
            z-index: 2;
        }
    }
    .category {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 15px 0;
        border-bottom: 1px solid;
        &:last-of-type {
            border: none;
        }
        .cat-link {
            transition: color .3s ease-in-out;
            font-size: .85rem;
            font-weight: 600;
        }
        .count-badge {
            font-family: $bodyFontFamily;
            font-size: .85rem;
            font-weight: 600;
        }
    }
    .recent-post {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        padding: 10px 0;
        .post-info {
            padding-left: 10px;
            .recent-post-heading {
                font-family: $bodyFontFamily;
                font-size: .8rem;
                font-weight: 600;
                margin: 0;
            }
            .post-heading-link {
                transition: color .3s ease-in-out;
            }
            i.fa,
            .publish-date {
                font-size: .7rem;
            }
        }
    }
    .archive {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 15px 0;
        border-bottom: 1px solid;
        &:last-of-type {
            border: none;
        }
        .arch-link {
            font-family: $bodyFontFamily;
            transition: color .3s ease-in-out;
            font-size: .85rem;
            font-weight: 600;
        }
        .count-badge {
            font-family: $bodyFontFamily;
            font-size: .85rem;
            font-weight: 600;
        }
    }
}