.contact-us-header {
    position: relative;
    min-height: 60vh;
    background: url('../../assets/Images/contact-us/contact-us.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
    .header-content {
        position: relative; // padding: 2rem 0;
        z-index: 3;
    }
    .bread {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        z-index: 3;
    }
}

.map-wrapper {
    margin: 0 0 5rem;
    .map {
        min-height: 360px;
    }
}

.contact-info-card {
    transition: all .3s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    i.fa {
        font-size: 1.5rem;
        margin-right: .5rem;
        vertical-align: middle;
    }
    .info {
        font-size: .85rem;
        font-weight: 600;
    }
}

.user-message-form {
    margin-bottom: 3rem;
    label {
        text-transform: capitalize;
        margin-bottom: 0;
        font-family: $headingFontFamily;
        font-weight: 600;
        font-size: .8rem; // display: none;
    }
    input[type=email],
    input[type=text],
    textarea {
        display: block;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 1px solid;
        border-radius: .25rem;
        margin-bottom: 1rem;
        transition: border-color .3s ease-in-out;
        font-size: .85rem;
        font-family: $bodyFontFamily;
    }
    textarea {
        min-height: 8rem;
    }
    input[type=submit] {
        display: block;
        margin-right: auto;
        margin-top: 10px;
    }
}