/*========================== START FEATURES SECTION  ==========================*/

.features {
    overflow: hidden;
    .feature-box {
        transition: all .3s ease-in-out;
        .feature-content {
            transition: all .3s ease-in-out;
            max-width: 400px;
            margin: 0 auto;
            .fa {
                font-size: 4rem;
                display: inline-block;
            }
            .feat-title {
                margin-bottom: 1rem;
                margin-top: .5rem;
                @media screen and(max-width: 576px) {
                    font-size: .85rem;
                    margin-bottom: .5rem;
                    margin-top: .5rem;
                }
            }
            .feat-text {
                font-size: .8rem;
            }
        }
    }
}

/*==========================  End FEATURES SECTION  ==========================*/