.our-team {
    .tm-member-card {
        position: relative; // overflow: hidden;
        margin: 0 0 2rem;
        text-align: center;
        transition: transform .3s ease-in-out;
        .tm-img {
            margin-bottom: 1rem;
        }
        .tm-details {
            .tm-name {
                margin-bottom: .25rem;
                letter-spacing: 1px;
            }
            .tm-role {
                display: block;
                font-family: $bodyFontFamily;
                font-size: .8rem;
                font-weight: 700;
                margin-bottom: .5rem;
            }
        }
        &:hover .sc-holder {}
        .sc-holder {
            padding: 0;
        }
    }
    @media screen and (max-width:991px) {
        .tm-member-card {
            margin: 0 1rem 2rem;
            text-align: center;
            .tm-img {
                margin-bottom: 1rem;
            }
        }
    }
}