/*  ==========================   START About Us SECTION ==========================*/

.our-info-tabs {
    .tab-list {
        margin-bottom: 40px;
    }
    .tab-head {
        position: relative;
        padding: 5px;
        min-width: 10%;
        font-size: 1.1rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        border-radius: .25rem .25rem 0 0;
        border-bottom: 2px solid;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all .3s ease-in-out;
        @media (max-width: 991px) {
            font-size: .9rem;
        }
    }
    .tab-content {
        display: none;
        .content-heading {
            margin-bottom: 1rem;
        }
        .faq-accordion {
            .card {
                border: none;
                border-radius: 0;
            }
            .card-header {
                padding: 0;
                position: relative;
                border: 1px solid;
                .btn-link {
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 20px;
                    text-align: left;
                    text-decoration: none;
                    border-radius: 0;
                    font-weight: bold;
                    white-space: normal; //to break the text to another line if the text is so long   
                    &::after {
                        content: "\f106";
                        font-family: fontawesome;
                        font-size: inherit;
                        font-weight: bold;
                        line-height: 1.1;
                        font-size: inherit;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        left: auto;
                    }
                    &.collapsed::after {
                        content: '\f107';
                    }
                }
            }
            .card-body {
                border: 1px solid;
            }
        }
        .user-message-form {
            label {
                text-transform: capitalize;
                margin-bottom: 0;
                font-family: $bodyFontFamily;
                font-weight: normal;
                @media(max-width: 991px) {
                    font-size: .75rem;
                }
            }
            input[type=email],
            input[type=text],
            textarea {
                display: block;
                width: 100%;
                padding: 5px;
                outline: none;
                border: 1px solid;
                border-radius: .25rem;
                margin-bottom: .5rem;
                transition: border-color .3s ease-in-out;
                font-size: 1rem;
                @media(max-width: 991px) {
                    font-size: .75rem;
                }
            }
            textarea {
                min-height: 8rem;
            }
            input[type=submit] {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 10px;
            }
        }
    }
    .tab-content-1 {
        display: block;
    }
}

/* ========================== END About Us SECTION  ========================== */