/*==========================   START PARTNERS SECTION  ==========================*/

.partners {
    border: none;
    height: auto;
    padding: 40px 0;
    @media (max-height: 500px) AND (max-width:360px) {
        display: none;
    }
    @media (max-height:500px) {
        display: none;
    }
    @media (max-width:360px) {
        display: none;
    }
}

/*==========================  END PARTNERS SECTION  ==========================*/