/* Start .butn styles */

.butn {
    position: relative;
    display: inline-block;
    outline: none !important;
    font-family: $bodyFontFamily;
    font-size: .85rem;
    min-width: 150px;
    padding: .75rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    &:hover {
        transform: translateY(-1px);
        &:before {
            left: 150%;
        }
        &:after {
            right: 150%;
        }
    }
    &:before,
    &:after {
        content: '';
        position: absolute;
        border-radius: .25rem;
        top: 0;
        bottom: 0;
        width: 20%;
        transition: all .8s ease-in-out;
        opacity: .5;
        z-index: -1;
    }
    &:before {
        left: -100%;
    }
    &:after {
        right: -100%;
    }
    @media (max-width: 991px) {
        font-size: .8rem;
        min-width: 120px;
        padding: .75rem;
    }
    i.fa {
        margin-left: .25rem;
        margin-right: .25rem;
    }
}

/* End .butn styles */