.contact-info-card {
    transition: all .3s ease-in-out;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    i.fa {
        font-size: 1.5rem;
        margin-right: .5rem;
        vertical-align: middle;
    }
    .info {
        font-size: .85rem;
        font-weight: 600;
    }
}