/*==========================   START MAIN HEADER  ========================== */

.main-header {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
    .header-content {
        position: relative;
        z-index: 3;
    }
    .bread {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        z-index: 3;
    }
}

.home-page-header {
    background: url('../../assets/Images/header/main-header.jpg');
    height: 100vh;
    .header-content {
        .disc-heading-1 {
            font-size: 6rem;
            font-weight: 800;
            display: inline-block;
        }
        span {
            font-size: 3.333333334rem;
            font-weight: 400;
            font-family: $headingFontFamily;
        }
        .disc-heading-2 {
            font-size: 2rem;
            font-weight: 400;
            font-style: italic;
        }
        .paragraph {
            margin-bottom: 0;
        }
        @media(max-width:767px) {
            .disc-heading-1 {
                font-size: 3rem;
            }
            span {
                font-size: 2rem;
            }
            .disc-heading-2 {
                font-size: 1.5rem;
                font-weight: 400;
            }
            .paragraph {
                margin-bottom: 0;
                font-size: .85rem;
                line-height: 1.6;
            }
        }
        @media(max-height:450px) {
            .disc-heading-1 {
                font-size: 3rem;
            }
            span {
                font-size: 1rem;
            }
            .disc-heading-2 {
                font-size: 1rem;
                font-weight: 400;
            }
            .paragraph {
                margin-bottom: 0;
                font-size: .85rem;
                line-height: 1.6;
            }
            .cta {
                min-width: 150px;
            }
        }
    }
}

/*==========================  END MAIN HEADER  ==========================*/

/* Start About-us page Header  */

.about-us-header {
    min-height: 60vh;
    background: url('../../assets/Images/about-us/about-us-header.jpeg');
}

/* End About-us page Header  */

/* Start blog-home-page Header  */

.blog-home-header {
    height: 60vh;
    background: url('../../assets/Images/blog-images/blog-header.jpg');
    .blog-heading {
        font-size: 2rem;
        font-weight: 700;
    }
}

/* End blog-home-page Header  */

/* Start contact-us-header Header  */

.contact-us-header {
    min-height: 60vh;
    background: url('../../assets/Images/contact-us/contact-us.jpeg');
}

/* End contact-us-header Header  */