/*  START OPTION BOX ASIDE  */

.option-box {
    .options-wraper {
        position: fixed;
        left: -300px;
        width: 300px;
        top: 25vh;
        transform: translateY(-25%);
        border: 1px solid;
        border-left: none;
        z-index: 999;
        transition: left .3s ease-in-out;
        @media(max-width: 991px) {
            left: -200px;
            width: 200px;
            top: 81px;
        }
        .box-handel {
            font-size: 1rem;
            font-weight: lighter;
            position: absolute;
            top: 90px;
            left: calc(300px - 1px);
            width: 30px;
            height: 30px;
            line-height: 26px;
            border: 1px solid;
            border-left: none;
            text-align: center;
            cursor: pointer;
            @media(max-width: 991px) {
                left: calc( 200px - 1px);
            }
        }
        .color-options {
            padding: 50px 20px;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                li {
                    width: 40px;
                    height: 40px;
                    span {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/*   this class is to add by jquery to show the .option-box .  */

.show-options-box {
    left: 0 !important;
}

/*  END OPTION BOX ASIDE  */