/*==========================  START page-footer   ==========================*/

.page-footer {
    a,
    address {
        font-family: $bodyFontFamily;
    }
    .footer-item {
        margin-bottom: 1rem;
        font-size: .85rem;
        .footer-link {
            text-decoration: none;
            transition: all .3s ease-in;
        }
        i {
            margin-right: .5rem;
        }
    }
    .images-feed {
        .feed-image-wrapper {
            position: relative;
            z-index: 0;
            .feed-image {
                width: 100%;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
            &:hover {
                &:after {
                    width: 0;
                }
            }
        }
    }
    /*========================== start Newsletter section  ==========================*/
    // .newsletter-form {
    //     .newsletter-email {
    //         position: relative;
    //         input[type=email] {
    //             padding: 6px;
    //             font-size: 1rem;
    //             outline: none;
    //             width: 100%;
    //             font-size: 1rem;
    //             border: 1px solid;
    //             border-radius: .25rem;
    //             transition: all .3s ease-in-out;
    //         }
    //         .submit-btun {
    //             display: inline-block;
    //             position: absolute;
    //             top: 50%;
    //             transform: translatey(-50%);
    //             right: 10px;
    //             cursor: pointer;
    //             border: none;
    //             outline: none !important;
    //             padding: 5px;
    //         }
    //     }
    // }
    /*========================== End Newsletter section  ==========================*/
    .copyrights {
        padding: 1rem;
        border-top: 1px solid;
    }
}

/*==========================  END page-footer   ==========================*/