.service-card {
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    .service-title>i.fa {
        font-size: 1.25rem;
    }
}

.services-cta-area {
    padding-top: 60px;
    padding-bottom: 60px;
    .cta-title {
        margin-bottom: 1rem;
    }
    .cta {
        border: 1px solid;
    }
}