.user-message-form {
    margin-bottom: 3rem;
    label {
        text-transform: capitalize;
        margin-bottom: 0;
        font-family: $headingFontFamily;
        font-weight: 600;
        font-size: .8rem; // display: none;
    }
    input[type=email],
    input[type=text],
    textarea {
        display: block;
        width: 100%;
        padding: 5px;
        outline: none;
        border: 1px solid;
        border-radius: .25rem;
        margin-bottom: 1rem;
        transition: border-color .3s ease-in-out;
        font-size: .85rem;
        font-family: $bodyFontFamily;
    }
    textarea {
        min-height: 8rem;
    }
    input[type=submit] {
        display: block;
        margin-right: auto;
        margin-top: 10px;
    }
}