@import'global-modules/__globals.scss';
@import'global-modules/_user-form.scss';
@import'global-modules/_butn.scss';
body {
    position: relative;
    overflow: hidden;
}

.signin-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

.sginin-side-hero {
    position: relative;
    height: 100vh;
    background: url(../../assets/Images/header/main-header-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.signin-form-holder {
    label {
        display: block;
        margin-bottom: .5rem;
        .forgot-password {
            float: right;
        }
    }
}